


h3 {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lacquer';
}

#gameplay {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 100%;
    font-family: 'Lacquer';
}
h1 {
    font-family: 'Lacquer', ;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    
}
.game-header {
        font-family: 'Lacquer' ;
}

p {
    font-family: 'Lacquer';
}